<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Cubo</div>
                    <div class="panel-body">
                        <div v-if="!cube">
                            <div class="title m-b-md">
                                ¿De que dimensión quieres crear tu cubo?
                            </div>
                            <input type="text" v-model="size">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data:{
            cube:'',
            size:''
        },
        mounted() {
            console.log('Componente montado.')
        }
    }
</script>